body {
	color: black;
}

.row {
	display: flex;	
	width: 300px;
}

.cell {
	border: 1px solid black;
	width: 100px;
	height: 100px;
}

#row-a {
	background-color: pink;
}

#row-b {
	background-color: red;
}

#row-c {
	background-color: yellow;
}